body
{
    background-color: #2a4184;
    font-family: 'roboto', sans-serif;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
}

h2
{
    color: #00cc99;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
}

h3
{
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

h4
{
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

h5
{
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    line-height: 30%;
}

h6
{
    display: block;
    margin: auto;
    height: 30px;
    background-color: #172347;
    text-align: center;
    float: center;
    padding-top: 15px;
    font-size: 15px;
}

a
{
    color: red;
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

div
{
    display: inline;
    margin: 15px;
}

br
{
    line-height: 70%;
}

section
{
    line-height: 10px;
}